<html>
<head>
    <title>Novo Menu</title>
</head>
<body>
    <form method="post">
        <input type="text" id="nome" name="nome" />
        <input type="text" id="descricao" name="descricao" />
        <input type="submit" />
    </form>
</body>
</html>
