<html>
<head>
    <title> Home site Node.js</title>
</head>
<body>
    <h1>Home Node.js</h1>
    <nav>
        <ul>
            <%for(i = 0; i < menu.length; i++){%>
                <li><%=menu[i].nome%></li>
            <%}%>
        </ul>
    </nav>
</body>
</html>
